In [1]:
# Imports
from env import host, user, password
import os

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer

import matplotlib.pyplot as plt
import seaborn as sns

import wrangle as w

np.random.seed(42)

In [2]:
df = w.get_zillow_data()

csv file found and read

/Users/slick/codeup-data-science/clustering-exercises/wrangle.py:91: DtypeWarning: Columns (63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [3]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,logerror,transactiondate,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,0.025595,2017-01-01,...,NaN,NaN,6.059063e+13,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,0.055619,2017-01-01,...,NaN,NaN,6.111001e+13,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,0.005383,2017-01-01,...,NaN,NaN,6.059022e+13,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,-0.103410,2017-01-01,...,NaN,NaN,6.037300e+13,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,0.006940,2017-01-01,...,NaN,NaN,6.037124e+13,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77381 non-null  float64
 3   heatingorsystemtypeid         49440 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   parcelid                      77414 non-null  int64
 8   logerror                      77414 non-null  float64
 9   transactiondate               77414 non-null  object
 10  id                            77414 non-null  int64
 11  basementsqft                  50 non-null     float64
 12  bathroomcnt                   77381 non-null  float64
 13  bedroomcnt                    77381 non-null  float64
 14  buildingqualitytypeid         49672 non-null  float64
 15  calculatedbathnbr             76772 non-null  float64
 16  decktypeid                    614 non-null    float64
 17  finishedfloor1squarefeet      6023 non-null   float64
 18  calculatedfinishedsquarefeet  77185 non-null  float64
 19  finishedsquarefeet12          73749 non-null  float64
 20  finishedsquarefeet13          41 non-null     float64
 21  finishedsquarefeet15          3009 non-null   float64
 22  finishedsquarefeet50          6023 non-null   float64
 23  finishedsquarefeet6           386 non-null    float64
 24  fips                          77381 non-null  float64
 25  fireplacecnt                  8276 non-null   float64
 26  fullbathcnt                   76772 non-null  float64
 27  garagecarcnt                  25474 non-null  float64
 28  garagetotalsqft               25474 non-null  float64
 29  hashottuborspa                1538 non-null   float64
 30  latitude                      77381 non-null  float64
 31  longitude                     77381 non-null  float64
 32  lotsizesquarefeet             69142 non-null  float64
 33  poolcnt                       16137 non-null  float64
 34  poolsizesum                   867 non-null    float64
 35  pooltypeid10                  464 non-null    float64
 36  pooltypeid2                   1074 non-null   float64
 37  pooltypeid7                   15042 non-null  float64
 38  propertycountylandusecode     77381 non-null  object
 39  propertyzoningdesc            50331 non-null  object
 40  rawcensustractandblock        77381 non-null  float64
 41  regionidcity                  75910 non-null  float64
 42  regionidcounty                77381 non-null  float64
 43  regionidneighborhood          30890 non-null  float64
 44  regionidzip                   77331 non-null  float64
 45  roomcnt                       77381 non-null  float64
 46  threequarterbathnbr           10096 non-null  float64
 47  unitcnt                       50563 non-null  float64
 48  yardbuildingsqft17            2388 non-null   float64
 49  yardbuildingsqft26            70 non-null     float64
 50  yearbuilt                     77118 non-null  float64
 51  numberofstories               17560 non-null  float64
 52  fireplaceflag                 172 non-null    float64
 53  structuretaxvaluedollarcnt    77269 non-null  float64
 54  taxvaluedollarcnt             77380 non-null  float64
 55  assessmentyear                77381 non-null  float64
 56  landtaxvaluedollarcnt         77379 non-null  float64
 57  taxamount                     77376 non-null  float64
 58  taxdelinquencyflag            2886 non-null   object
 59  taxdelinquencyyear            2886 non-null   float64
 60  censustractandblock           77137 non-null  float64
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49440 non-null  object
 65  propertylandusedesc           77381 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

In [5]:
w.summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0                     NaN          NaN                  261.0
1                     NaN          NaN                  261.0
2                     NaN          NaN                  261.0

   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid  logerror transactiondate  ...  \
0                    NaN  14297519  0.025595      2017-01-01  ...
1                    NaN  17052889  0.055619      2017-01-01  ...
2                    NaN  14186244  0.005383      2017-01-01  ...

   taxdelinquencyflag  taxdelinquencyyear  censustractandblock  \
0                 NaN                 NaN         6.059063e+13
1                 NaN                 NaN         6.111001e+13
2                 NaN                 NaN         6.059022e+13

   airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
0                  NaN                     NaN                NaN
1                  NaN                     NaN                NaN
2                  NaN                     NaN                NaN

   heatingorsystemdesc        propertylandusedesc  storydesc  \
0                  NaN  Single Family Residential        NaN
1                  NaN  Single Family Residential        NaN
2                  NaN  Single Family Residential        NaN

   typeconstructiondesc
0                   NaN
1                   NaN
2                   NaN

[3 rows x 68 columns]

=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77381 non-null  float64
 3   heatingorsystemtypeid         49440 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   parcelid                      77414 non-null  int64
 8   logerror                      77414 non-null  float64
 9   transactiondate               77414 non-null  object
 10  id                            77414 non-null  int64
 11  basementsqft                  50 non-null     float64
 12  bathroomcnt                   77381 non-null  float64
 13  bedroomcnt                    77381 non-null  float64
 14  buildingqualitytypeid         49672 non-null  float64
 15  calculatedbathnbr             76772 non-null  float64
 16  decktypeid                    614 non-null    float64
 17  finishedfloor1squarefeet      6023 non-null   float64
 18  calculatedfinishedsquarefeet  77185 non-null  float64
 19  finishedsquarefeet12          73749 non-null  float64
 20  finishedsquarefeet13          41 non-null     float64
 21  finishedsquarefeet15          3009 non-null   float64
 22  finishedsquarefeet50          6023 non-null   float64
 23  finishedsquarefeet6           386 non-null    float64
 24  fips                          77381 non-null  float64
 25  fireplacecnt                  8276 non-null   float64
 26  fullbathcnt                   76772 non-null  float64
 27  garagecarcnt                  25474 non-null  float64
 28  garagetotalsqft               25474 non-null  float64
 29  hashottuborspa                1538 non-null   float64
 30  latitude                      77381 non-null  float64
 31  longitude                     77381 non-null  float64
 32  lotsizesquarefeet             69142 non-null  float64
 33  poolcnt                       16137 non-null  float64
 34  poolsizesum                   867 non-null    float64
 35  pooltypeid10                  464 non-null    float64
 36  pooltypeid2                   1074 non-null   float64
 37  pooltypeid7                   15042 non-null  float64
 38  propertycountylandusecode     77381 non-null  object
 39  propertyzoningdesc            50331 non-null  object
 40  rawcensustractandblock        77381 non-null  float64
 41  regionidcity                  75910 non-null  float64
 42  regionidcounty                77381 non-null  float64
 43  regionidneighborhood          30890 non-null  float64
 44  regionidzip                   77331 non-null  float64
 45  roomcnt                       77381 non-null  float64
 46  threequarterbathnbr           10096 non-null  float64
 47  unitcnt                       50563 non-null  float64
 48  yardbuildingsqft17            2388 non-null   float64
 49  yardbuildingsqft26            70 non-null     float64
 50  yearbuilt                     77118 non-null  float64
 51  numberofstories               17560 non-null  float64
 52  fireplaceflag                 172 non-null    float64
 53  structuretaxvaluedollarcnt    77269 non-null  float64
 54  taxvaluedollarcnt             77380 non-null  float64
 55  assessmentyear                77381 non-null  float64
 56  landtaxvaluedollarcnt         77379 non-null  float64
 57  taxamount                     77376 non-null  float64
 58  taxdelinquencyflag            2886 non-null   object
 59  taxdelinquencyyear            2886 non-null   float64
 60  censustractandblock           77137 non-null  float64
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49440 non-null  object
 65  propertylandusedesc           77381 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

KeyError: "['customer_id'] not in index"